
/*/bin/
/*/*/bin/
/*/*/obj/
/*/obj/
*.user
*.pdb
*.suo
*.cache
*.typemock
Metrics.*
*.db
*.feature.cs
/TestResults/
/Mediata.RBT.Documents/Templates/*.htm
/Medidata.RBT.Features.Rave/App.config
/_ReSharper.Medidata.RBT/
App.config
