<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler,TechTalk.SpecFlow" />
		<section name="UATConfiguration" type="Medidata.UAT.UATConfiguration, Medidata.UAT" />

	</configSections>

	<UATConfiguration
		TestResultPath="C:\"
		AutoCloseBrowser ="False"
		TakeScreenShots ="True"
		SqlScriptsLocation="C:\"
		BrowserName="Firefox"
		BrowserLocation="D:\!!Soft\Firefox\firefox.exe"
		RaveURL ="http://localhost/Rave564/"
		RaveDatabaseConnection="Server=.;Database=lily;uid=sa;pwd=pass;"
		/>

	<specFlow>
		<language feature="en-US" tool="" />
		<unitTestProvider name="MsTest" />
		<stepAssemblies>
			<stepAssembly assembly="Medidata.UAT" />
		</stepAssemblies>
	</specFlow>
	<appSettings>
		<add key="BrowserName"  value="firefox" />
		<add key="BrowserPath"  value="" />

	</appSettings>
	<connectionStrings configSource="connections.config"></connectionStrings>
</configuration>