@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model System.Xml.Linq.XElement
@section Head
{
	<style>
		ul
		{
		}
		
		li
		{
			margin: 5px;
			padding: 5px;
			border-bottom: 1px solid #ddd;
			list-style: none;
		}
		
		.comment
		{
			color:#008000;
			font-size:12px;
		}
		
		.nocomment
		{
			color:orange;
		}
	</style>
}
<form action="/Default/Index">
<label>Path to dlls</label><input name="path" value="@ViewBag.Path" style="width:80%" />
<br />
<input type="submit" value="Select dll folder" />
</form>
<h2>
	List</h2>
@if (Model != null)
{
	foreach (var type in Model.Elements("Type"))
	{
	<h3>@type.Attribute("Name").Value</h3>
	
	<ul>
		@foreach (var method in type.Descendants("Method"))
  {
	  foreach (var stepDef in method.Descendants("StepDef"))
	  {
			<li>@stepDef.Attribute("RegexWithArgName").Value
				@{
		  var summary = method.Descendants("summary").FirstOrDefault();
				}
				@if (summary != null)
	{
					<p class="comment">@summary.Value</p>
	}
	else
	{
					<p class="comment nocomment">[No comments]</p>
	}
			</li>
	  }
  }
	</ul>
	}
}
else
{
	<h2>
		Please select a folder</h2>
}
