@{
	ViewBag.Title = "Feature Composer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Mediata.RBT.Documents.StepDefClass>
		   
@section header
{

}
<h2>Feature Composer</h2>


