@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
 <style>
 
 </style>
}

<h2>Index</h2>

<ul>
	<li><a target="_blank" href="StepDefReport">Step def report</a></li>

	<li><a target="_blank" href="StepsReport">Feature files report</a></li>

	<li><a target="_blank" href="/Tutorial/00 Index.htm">Tutorial</a></li>

	<li><a target="_blank" href="FeatureComposer">Feature Composer</a></li>
</ul>
